.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; 
  }
  
  #app {
    display: inline-block;
    border: solid 10px #424242;
    box-shadow: 0 0 30px grey;
    transform: scale(1.5); 
  }
  
  .player {
    text-align: center;
    padding: 15px; 
  }
  
  .row {
    width: calc(8 * 60px);
    margin: 0 auto;
    line-height: 0;
  }
  
  .row div {
    display: inline-block;
    height: 60px; 
    width: 60px; 
  }
  
  .row div .game-piece {
    position: absolute;
    border: none;
    height: 60px;
    width: 60px; 
    font-size: 2.5em; 
    line-height: normal;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: text-shadow 0.3s;
  }
  
  .row div .active {
    border: dotted 1px #424242;
    text-shadow: 8px -8px 8px grey; 
  }
  
  .white {
    background: #fff;
  }
  
  .grey {
    background: #e0e0e0;
  }
  